.quick-card-editor {
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.quick-card-editor-card {
    position: absolute;
}

.quick-card-editor .list-card {
    cursor: default;
}

.list-card-quick-edit {
    z-index: 1;
}

.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0
}

.list-card-cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

.quick-card-editor-buttons.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.quick-card-editor-buttons {
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: 0;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in,transform 85ms ease-in;
}

.quick-card-editor textarea.list-card-edit-title, .quick-card-editor textarea.list-card-edit-title:focus, .quick-card-editor textarea.list-card-edit-title:hover {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
}

.quick-card-editor textarea.list-card-edit-title {
    height: 90px;
    padding: 0;
    margin: -1px;
}

.quick-card-editor textarea {
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 12px;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.quick-card-editor-buttons.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.quick-card-editor-buttons {
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: 0;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in,transform 85ms ease-in;
}

.quick-card-editor-buttons-item {
    background: rgba(0,0,0,.6);
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    transition: transform 85ms ease-in;
}

.quick-card-editor-buttons-item-text {
    margin-left: 4px;
}

.quick-card-editor-buttons-item:hover {
    margin-left: 12px;
}

.button.wide, input[type=button].wide, input[type=submit].wide {
    padding-left: 24px;
    padding-right: 24px;
}

.pop-over-input:focus {
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.pop-over-input:hover {
    background-color: #ebecf0;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
}
