.inner-section {
    margin-top: 100px;
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px;
}

.section-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.inner-section .account-form {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
.layout-twothirds-center {
    display: block;
    max-width: 585px;
    margin: 0 auto;
    position: relative;
}

.inner-section h1 {
    text-align: center;
    color: 
    #5E6C84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}


button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::selection {
    background: hsl(202,92%,85%);
    text-shadow: none;
}

.inner-section .account-form textarea, .inner-section .account-form input[type="text"], .inner-section .account-form input[type="password"], .inner-section .account-form input[type="button"], a.btn-register {
    width: 100%;
}

.inner-section .form-field {
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    -webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
}

.inner-section textarea, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    background: #EDEFF0;
    background-color: rgb(237, 239, 240);
    border-radius: 4px;
    border: 1px solid #CDD2D4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em;
    max-width: 400px;
    width: 100%;
}

textarea, input {
    display: block;
    margin: 0 0 1.2em;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.inner-section .account-form .button-green:not(:disabled) {
    background: 
    #5AAC44;
}

.inner-section .account-form .button-green {
    box-shadow: none;
}

.inner-section .account-button {
    margin-bottom: 0;
    width: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"], a.btn-register {
    -webkit-appearance: button;
    cursor: pointer;
}

a.button-green {
    background: #61BD4F;
    background: -webkit-gradient(linear, left top, left bottom, from(#61BD4F), to(#5AAC44));
    background: linear-gradient(to bottom, #61BD4F 0%, #5AAC44 100%);
    box-shadow: 0 2px 0 #3F6F21;
    color: #fff;
}

a.button {
    background: #CDD2D4;
    background: -webkit-gradient(linear, left top, left bottom, from(#CDD2D4), to(#C4C9CC));
    background: linear-gradient(to bottom, #CDD2D4 0%, #C4C9CC 100%);
    border-radius: .3em;
    box-shadow: 0 2px 0 hsl(0,0%,30%);
    display: inline-block;
    font-weight: bold;
    margin-bottom: .8em;
    padding: .6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px;
}

.inner-section hr {
    margin-top: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid 
    hsl(0,0%,80%);
    margin: 1em 0;
        margin-top: 1em;
    padding: 0;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.inner-section .bottom-form-link {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0;
}

.inner-section a {
    text-decoration: none;
    color: #0052CC;
}